// html style tags

body
 font-family "Helvetica Neue", "Lucida Grande", "Arial"    
 padding 0px
 height 100%
 background-image url(../images/bg1.gif)

a:link, a:visited, a:hover
 color white
 text-decoration underline

a:hover
 text-decoration none

h1, h2, h3, h4, h5, h6
 font-family Verdana, Arial, sans-serif
 margin 0
 padding 0


h1
 font-size 18px
 font-weight normal
 color #333333
 letter-spacing 2px

 h2
  font-size 16px
  font-weigth normal
  letter-spacing 2px

h3
 font-size 14px
 font-weight normal
 color #333333

 h4
  font-size 13px
  font-weight normal
  color #333333

h5
 font-size 11px
 color #333333

h6
 font-size 9px
 color #000000
 font-weight normal


// Left Sidebar

#menu
 padding 5px

.text_menu
 font-family Verdanna, Arial, sans-serif
 font-size 20px
 font-weight normal
 font-stretch expanded

 .text_menu_1
  font-family Verdana, Arial, sans-serif
  font-size 20px
  font-weight normal
  font-stretch extra-expanded
  color #FFF

  .text_submenu
   font-family Verdana, Arial, sans-serif
   font-size 20px
   font-weight normal


// Header and Main Layout

#container
 width 800px
 margin 0 auto

#bartop
 width 800px
 height 28px
 background-color #333333
 margin 0
 float left


#barcolour
 width 800px
 height 9px
 background-color #FC3
 margin 0
 float left

#barspacer
 width 800px
 height 2px
 background-color #FFFFFF
 margin 0
 float left

#masthead1
 width 250px
 height 140px
 float left
 background-color #FFFFFF
 margin 0
 text-align left

#masthead2
 width 300px
 height 140px
 float left
 background-color #FFFFFF

#masthead3
 width 250px
 height 140px
 float left
 background-color #FFFFFF
 margin 0
 text-align right


#nav-one
 width 225px
 height 450px
 float left
 background-color #333333
 text-align left


#contentMain
 width 565px
 height 440px
 float left
 background-color #EBEBEB
 padding 5px


#contentWhiteBox
 background-color #FFFFFF
 text-align left
 padding 5px
 border dotted thin #666


 // Left Menu Items

#menu
 color white

#menu ul
 margin 0
 padding 0
 list-style none
 width 225px
 border-bottom 0px solid white 

#menu ul li
 postion relative


#menu li ul
 postion absolute
 left 225px
 top 0
 dispaly block

#menu li:hover ul
 display block

#menu li:hover>ul
 visibility visible

#menu ul ul
 visibility hidden


 // Style for Menu Items


#footer
 position relative
 font-size 10px
 text-align center 
 bottom 0  







