#nav-one
    #menu.submenu
        ul#menulist
            li.first
                span.text_menu_1
                    a(href="/" ).submenu.text_menu Home
            li
                a(href="/starters") Starters
            li
                a(href="/alternators") Alternators
            li
                a(href="dcmotors") DC Motors
            li
                a(href="/productnews") Product News
            li
                a(href="/specials") Specials
            li.last 
