#nav-one
    #l-menu
        a(href="/", title="Home" )#home Home
        a(href="/starters", title="Starters").menu1 Starters
        a(href="/starters1", title="Starters - Ambulance").submenu1 Ambulance
        a(href="/starters2", title="Starters - Truck").submenu1 Truck
        a(href="/alternators", title="Alternators").menu2 Alternators
        a(href="/alternators1", title="Alternators - Amublance").submenu2 Ambulance
        a(href="/alternators2", title="Alternators - Truck").submenu2 Truck
        a(href="/contactus", title="Contact Us")#contactus Contact Us

