#nav-one
    #menu.submenu
        ul#menulist
            li.first
                span.text_menu_1
                    a(href="/" ).submenu.text_menu Home
            li
                span.text_menu_1
                    a(href="/starters").submenu.text_menu Starters
            li
                span.text_menu_1
                    a(href="/alternators").submenu.text_menu Alternators
            li
                span.text_menu_1
                    a(href="dcmotors").submenu.text_menu DC Motors
            li
                span.text_menu_1
                    a(href="/productnews").submenu.text_menu Product News
            li
                span.text_menu_1
                    a(href="/specials").submenu.text_menu Specials
            li.last 
